/* layer: default */
.h-46px{height:46px;}
.w-46px{width:46px;}
.flex{display:flex;}
.items-center{align-items:center;}
.justify-center{justify-content:center;}
.p-\[1em\]{padding:1em;}
.px-\[0\.5em\]{padding-left:0.5em;padding-right:0.5em;}
.font-size-\[3\.2em\]{font-size:3.2em;}
.font-size-12px{font-size:12px;}
.text-\[\#888\]{--un-text-opacity:1;color:rgb(136 136 136 / var(--un-text-opacity)) /* #888 */;}
.font-bold{font-weight:700;}
.filter{filter:var(--un-blur) var(--un-brightness) var(--un-contrast) var(--un-drop-shadow) var(--un-grayscale) var(--un-hue-rotate) var(--un-invert) var(--un-saturate) var(--un-sepia);}
.transition{transition-property:color,background-color,border-color,outline-color,text-decoration-color,fill,stroke,opacity,box-shadow,transform,filter,backdrop-filter;transition-timing-function:cubic-bezier(0.4, 0, 0.2, 1);transition-duration:150ms;}
.transition-colors{transition-property:color,background-color,border-color,outline-color,text-decoration-color,fill,stroke;transition-timing-function:cubic-bezier(0.4, 0, 0.2, 1);transition-duration:150ms;}