.flex{display:-webkit-box;display:-ms-flexbox;display:-webkit-flex;display:flex}
.justify-center{-webkit-box-pack:center;-ms-flex-pack:center;-webkit-justify-content:center;justify-content:center}
.font-700{font-weight:700}
.text-\[3\.2em\]{font-size:3.2em;line-height:1}
.p-\[1em\]{padding:1em}
.px-\[0\.5em\]{padding-left:.5em;padding-right:.5em}
.text-\[\#888\]{--un-text-opacity:1;color:rgba(136,136,136,var(--un-text-opacity))}