.container{width:100%}
@media (min-width:640px){
.container{max-width:640px}
}
@media (min-width:768px){
.container{max-width:768px}
}
@media (min-width:1024px){
.container{max-width:1024px}
}
@media (min-width:1280px){
.container{max-width:1280px}
}
@media (min-width:1536px){
.container{max-width:1536px}
}
.flex{display:-webkit-box;display:-ms-flexbox;display:-webkit-flex;display:flex}
.justify-center{-webkit-box-pack:center;-ms-flex-pack:center;-webkit-justify-content:center;justify-content:center}
.font-bold{font-weight:700}
.p-\[1em\]{padding:1em}
.px-\[0\.5em\]{padding-left:.5em;padding-right:.5em}
.text-\[\#888\]{--un-text-opacity:1;color:rgba(136,136,136,var(--un-text-opacity))}
.font-size-12px{font-size:12px}
.font-size-\[3\.2em\]{font-size:3.2em}