.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
}
.justify-center {
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
}
.font-bold {
  font-weight: 700;
}
.text-\[3\.2em\] {
  font-size: 3.2em;
  line-height: 1;
}
.p-\[1em\] {
  padding: 1em;
}
.px-\[0\.5em\] {
  padding-left: 0.5em;
  padding-right: 0.5em;
}
.text-\[\#888\] {
  --tw-text-opacity: 1;
  color: rgba(136, 136, 136, var(--tw-text-opacity));
}
.font-size-12px {
  font-size: 12px;
}